<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul class="nav navbar-nav navbar-center">
    <li><a href="/">Home</a></li>
    <li><a href="/ideas">Ideas</a></li>
    <li><a href="/notices">Notices</a></li>
  </ul>
</nav>
<div class="center jumbotron"></div>
<%= yield %>

</body>
</html>
